<config>
	<name>Mini</name>
	<item>
		<name>Coating</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/coating.xgl</path>
		<position>106,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Pellet</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/minicathode.xgl</path>
		<position>105,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Impregnant</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/impregnant.xgl</path>
		<position>104,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Braze Coat</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/brazecoat.xgl</path>
		<position>103,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Body</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/minibody.xgl</path>
		<position>102,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Potting</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/potting.xgl</path>
		<position>101,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Heater</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/heater.xgl</path>
		<position>99,0,0</position>
		
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
	<item>
		<name>Full_Assembly</name>
		<value></value>
		<path>resources/models/cathodes/normalxgl/normalminiassembly.xgl</path>
		<position>0,0,0</position>
		<show>false</show>
		<defaultfocus>Full_Assembly</defaultfocus>
		<item>
			<name>prop_name</name>
			<value>prop_value</value>
		</item>
	</item>
</config>
