<config>
	<item>
		<name>Name</name>
		<value></value>
		<item>
			<name>model_name</name>
			<value></value>
			<path>./lib/box2.xgl</path>
			<position>0,0,0</position>
			<item>
				<name>prop_name</name>
				<value>prop_value</value>
			</item>
		</item>
	</item>
	<item>
		<name>prop_name</name>
		<value>prop_value</value>
	</item>
</config>
